@import "variables";

#circles-wrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2rem;
  justify-content: center;

  background-color: #e6e6e6;
}

.color-circle {
  width: 100%;
  height: 100%;
  align-self: center;
  justify-self: center;

  border-width: 4px;
  border-style: solid;
  border-radius: 50%;

  cursor: pointer;
}
#red-circle {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: #f46256;
  border-color: #c1272d;
}
#green-circle {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #93dd99;
  border-color: #00be00;
}
#blue-circle {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #94caf2;
  border-color: #4466e2;
}
#yellow-circle {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: #fff96a;
  border-color: #bfaa34;
}
.active-circle {
  @include dimFilter;
}

.middle-circle {
  width: 60px;
  height: 60px;

  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: black;
}

.middle-border {
  border: 2px solid black;
  border-radius: 50%;
}

#round-text {
  font-family: $main-font;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

@media only screen and (min-width: 300px) {
  #circles-wrapper {
    width: 280px;
    height: 270px;
  }
}

@media only screen and (min-width: 350px) {
  #circles-wrapper {
    width: 300px;
    height: 290px;
  }
}

@media only screen and (min-width: 400px) {
  #circles-wrapper {
    width: 330px;
    height: 315px;
  }
}

@media only screen and (min-width: 500px) {
  #circles-wrapper {
    width: 370px;
    height: 350px;
  }
}

@media only screen and (min-width: 600px) {
  #circles-wrapper {
    width: 400px;
    height: 390px;
  }
}

@media only screen and (min-width: 1200px) {
  .color-circle {
    width: 130px;
    height: 130px;
  }
}
